<div style="padding-left: 5%; padding-right: 5%;">
<h1>Editing setting</h1>

<%= render 'form' %>
<div class="center">
<%= link_to 'Show', @setting %> |
<%= link_to 'Back', settings_path %>
</div>
</div><br /><br />