<div style="padding-left: 5%; padding-right: 5%;">
<h1>Editing post</h1>

<%= render 'form' %> <!-- Fetching defined Embedded Ruby post rules-->
<div class="center">
<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
</div>
</div><br /><br />
